<div class="text-center">
  <div class="container post_from">
    <%= form_with(model: @feed, local: true) do |form| %>
      <br>
      <div class="row justify-content-center">
        <p><%= form.label :image,class: "sr-only" %></p>
        <%= image_tag(@feed.image.url, :size =>'320x480', class: "image_icon img-fluid" )if @feed.image && @feed.image.url %>
        <%= form.hidden_field :image_cache %>
      </div>
      <br>
      <div class="file_field_btn">
        <%= form.file_field :image%>
      </div>
      <br>
      <% if @feed.errors.any? %>
        <div id="error_explanation">
          <h2><%= @feed.errors.count %>件のエラーがあります。</h2>
          <ul>
          <% @feed.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <br>

      <% if logged_in? %>
        <div class="row justify-content-center">
          <%= form.label :content,class: "sr-only" %>
          <%= form.text_area :content , autocomplete: "content", autocomplete: "content" ,class: "form-control",id: "exampleFormControlTextarea1",rows: "5",placeholder: "#{current_user.name}さん、いまなにしてる？" %>
        </div>
        <br>
        <div class="row justify-content-center col-xs-3">
          <%= form.submit "投稿", data: { confirm: 'この内容でよろしいですか？' } %>
        </div>
      <% end %>
    <% end %>
    <br>
  </div>
</div>
