<div class="overflow-auto mx-auto index_feed">
  <div class="col mx-auto mb-4">
    <% @feeds.each do |feed| %>
      <div class="card" id="resize_card" >
        <%= link_to feed,class: "feed_link" do %>
          <div class="card-body">
            <table>
              <tr>
                <td class="pic">
                  <%= image_tag feed.user.image.url, size: '50x50', class: "account_pic" %>
                </td>
                <td class="name_and_content">
                  <span class="account_name"><%= feed.user.name %>さん</span>
                  <span class="account_name_thin"><%= feed.created_at.try(:strftime,"%Y年%m月%d日") %></span>
                </td>
                <% if logged_in? && current_user.id == feed.user.id %>
                  <td class="edit">
                    <%= link_to edit_feed_path(feed.id) do %>
                      <%= image_tag "edit1.png", size: '14x14' %>
                    <% end %>
                  </td>
                  <td class="edit">
                  <%= link_to feed_path(feed.id), method: :delete ,data: { confirm: '投稿を削除しますか？' } do %>
                    <%= image_tag "delete1.png", size: '14x14' %>
                  <% end %>
                  </td>
                <% end %>
              </tr>
            </table>
            <p class="card-text"><%= feed.content.truncate(100) %></p>
          </div>
          <%= image_tag feed.image.url , class: "card-img-bottom" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
