<div class="comment_form text-left">
  <%= form_with(model: [@feed, @comment], multipart: true) do |form| %>
    <% if @comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@feed.errors.count, "件") %> のエラーにより、このコメントを保存できませんでした</h2>
        <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="comment_field">
      <%= form.hidden_field :user_id, value: current_user.id %>
    </div>

    <div class="comment_field">
      <p><%= form.label :content %></p>
      <%= form.text_area :content %>
    </div>

    <div class="comment_actions">
      <%= form.submit "登録する",class: "page-link.text-dark.d-inline-block btn-sm" %>
    </div>
    
  <% end %>
</div>
