<%= form_with(model: user, local: true) do |form| %>
<% if @user.errors.any? %>
  <div id="error_explanation" class="row">
    <h2><%= pluralize(@user.errors.count, "つのエラーがあります") %> </h2>
    <% @user.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
<% end %>

<div class="row">
<%= form_with(model: @user, local: true) do |f| %>
  <p><%= f.label :name %></p>
  <p><%= f.text_field :name %></p>

  <p><%= f.label :email %></p>
  <p><%= f.email_field :email %></p>

  <div class="file_filed_label"><p><%= f.label :image, "プロフィール写真" %></p></div>
  <div class="file_field_image"<p><%= f.file_field :image , :size =>'100x100'%></p></div>

  <p><%= f.label :password %></p>
  <p><%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %></p>
  <p><%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Create my account" %></p>
<% end %>
<% end %>
</div>
