<h1><%= @user.name %>さんのページ</h1>

<p><strong>プロフィール写真</strong></p>

<p><%= image_tag @user.image.url , :size =>'100x100'%></p>

<p>メールアドレス: <%= @user.email %></p>

<% if  logged_in? %>
  <% if @user.id == current_user.id %>
  <%= link_to '編集', edit_user_path(@user) %>
  <% end %>
<% end %>





<div class="text-center">
  <div class="search_index container">
    <br>
    <% if @user.id == current_user.id %>
      <h1>ようこそ<%= @user.name %>さん</h1>
      <hr>
      <p>あなたのページです。</p>
    <% else %>
      <h1><%= @user.name %>さんのページ</h1>
      <hr>
    <% end %>
    <p><%= image_tag @user.image.url , :size =>'180x180' ,class: "image_icon" %></p>
    <% if @user.id == current_user.id %>
      <p><%= link_to '受信BOX' , contacts_path,class: "btn btn-outline-info" %></p>
      <p><%= link_to 'ログアウト', session_path(current_user.id), method: :delete, data: { confirm: 'ログアウトしますか？' }, class: 'btn btn-danger' %></p>
      <p><%= link_to 'プロフィール編集', edit_user_path(@user),class: "btn btn-outline-secondary" %></p>
    <% end %>
    <hr>
    <br>
    <% unless @user.feeds.present? %>
      <br>
      <p>投稿はありません。</p>
      <br>
    <% else %>
      <br>
      <div class="row center-block" >
        <% @feeds.each do |feed| %>
        <div class="card-deck col-sm-6 col-md-3 mt-5" id="feed_card3" >
          <div class="card img-thumbnail">
            <%= link_to feed,class: "feed_link" do %>
              <%= image_tag feed.image.url , :size =>'450x300', class: "card-img-top" %>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>

    <% end %>
    <br>
    <%= link_to '戻る', :back,class: "btn btn-outline-secondary" %>
  </div>
  <br>
</div>
