<!DOCTYPE html>
<html>
  <head>
    <title>InstClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>InstClone</h1>
    <header class="header" class="container" >
      <ul class="row">
      <% if logged_in? %>
        <li class="col-md-3"><%= link_to "プロフィール", user_path(current_user.id) %></li>
        <li class="col-md-3"><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
        <li class="col-md-3"><%= link_to "記事一覧", feeds_path %></li>
        <li class="col-md-3"><%= link_to "お気に入り一覧", favorite_users_path %></li>
      <% else %>
        <li class="col-md-6"><%= link_to "アカウント作成", new_user_path %></li>
        <li class="col-md-6"><%= link_to "ログイン", new_session_path %></li>
      <% end %>
      </ul>
    </header>

    <div class="main" class="container">
    <%= yield %>
    </div>

    <footer class="footer">
    <p>運営会社DIVE INTO CODE株式会社</p>
    <p>© 2015-2016 Copyright DIVE INTO CODE Corp.</p>
    </footer>
  </body>
</html>
