<!DOCTYPE html>
<html>
  <head>
    <title>InstClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid" id="wrapper">
      <nav class="navbar navbar-expand-lg">
        <%= link_to "InstaClone", feeds_path, class:"navbar-brand" %>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarForm" aria-controls="navbarForm" aria-expanded="false" aria-label="ナビゲーションの切替">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarForm">
          <% if logged_in? %>
            <ul class="navbar-nav">
              <li class="nav-item nav-link">
                  <%= link_to "ホーム", feeds_path %>
              </li>
              <li class="nav-item nav-link">
                  <%= link_to "プロフィール", user_path(current_user.id) %>
              </li>
              <li class="nav-item nav-link">
                  <%= link_to "お気に入り一覧", favorite_users_path %>
              </li>
              <li class="nav-item nav-link">
                  <%= link_to "投稿", new_feed_path %>
              </li>
              <li class="nav-item nav-link">
                  <%= link_to "お問い合わせ", new_contact_path %>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item nav-link navbar-right ">
                <%= link_to "受信確認", letter_opener_web_path %>
              </li>
              <li class="nav-item nav-link" >
                <%= link_to "ログアウト", session_path(current_user.id), method: :delete, data: { confirm: 'ログアウトしますか？' }  %>
              </li>
            </ul>
          <% else %>
            <ul class="navbar-nav">
              <li class="nav-item nav-link">
                <%= link_to "ホーム", feeds_path %>
              </li>
              <li class="nav-item nav-link">
                <%= link_to "ユーザ登録", new_user_path %>
              </li>
              <li class="nav-item nav-link">
                <%= link_to "ログイン", new_session_path %>
              </li>
            </ul>
          <% end %>
        </div>
      </nav>
      <%= yield %>
      <% unless action_name == "index" %>
        <footer class="footer">
          <p>運営会社EVENT KEEPER株式会社</p>
          <p>Copyright © 2000-2020 EventKeeper All Rights Reserved.</p>
        </footer>
      <% end %>
  </body>
</html>
