<!DOCTYPE html>
<html>
  <head>
    <title>InstClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid" id="wrapper">
      <nav class="navbar navbar-expand-lg">
        <%= link_to "InstaClone", feeds_path, class:"navbar-brand" %>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarForm" aria-controls="navbarForm" aria-expanded="false" aria-label="ナビゲーションの切替">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarForm">
          <ul class="navbar-nav">
          <% if logged_in? %>
            <li class="nav-item">
              <%= link_to "ホーム", feeds_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "プロフィール", user_path(current_user.id), class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "お気に入り一覧", favorite_users_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "投稿", new_feed_path, class:"nav-link" %>
            </li>
            <li class="nav-item" >
              <%= link_to "ログアウト", session_path(current_user.id), method: :delete, data: { confirm: 'ログアウトしますか？' }, class:"nav-link"  %>
          <% else %>
            <li class="nav-item">
              <%= link_to "ホーム", feeds_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ユーザ登録", new_user_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_session_path, class:"nav-link" %>
            </li>
          <% end %>
          </ul>
        </div>
      </nav>
      <%= yield %>
      <% unless action_name == "index" %>
        <footer class="footer">
          <p>運営会社EVENT KEEPER株式会社</p>
          <p>Copyright © 2000-2020 EventKeeper All Rights Reserved.</p>
        </footer>
      <% end %>
  </body>
</html>
